{% extends 'layouts/base.twig' %}

{% block content %}
    <h2>Register patent</h2>

    {% if flash.error %}
        <div class="ui error message">
            {{ flash.error|raw }}
        </div>
    {% endif %}

    {% if flash.info %}
        <div class="ui warning message">
            {{ flash.info }}
        </div>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data" class="ui form">
        <div class="field">
            <label>Title (Must be between 3 and 25 characters)</label>
            <input type = "text" name="title" pattern=".{3,25}">
        </div>

        <div class="field">
            <label>Company/User (Must be between 3 and 25 characters)</label>
            <input type="text" name="company" pattern=".{3,25}">
        </div>

        <div class="field">
            <label>Select patent to upload</label>
            <input type="file" name="uploaded">
        </div>

        <div class="field">
            <label>Description (Maximum of 500 characters)</label>
            <textarea cols="40" rows="10" maxlength="500" name="description"> </textarea>
        </div>

        <input type="hidden" name="token" value="{{ token }}">
        <input type="submit" name="submit" value="Register patent" class="positive ui button">
    </form>
{% endblock %}
